%h3.page-title
  System hooks

%p.light
  #{link_to "System hooks ", help_page_path("system_hooks", "system_hooks"), class: "vlink"} can be
  used for binding events when GitLab creates a User or Project.

%hr


= form_for @hook, as: :hook, url: admin_hooks_path, html: { class: 'form-horizontal' } do |f|
  -if @hook.errors.any?
    .alert.alert-danger
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :url, "URL:", class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control"
  .form-actions
    = f.submit "Add System Hook", class: "btn btn-create"
%hr

-if @hooks.any?
  .ui-box
    .title
      System hooks (#{@hooks.count})
    %ul.well-list
      - @hooks.each do |hook|
        %li
          .list-item-name
            = link_to admin_hook_path(hook) do
              %strong= hook.url

          .pull-right
            = link_to 'Test Hook', admin_hook_test_path(hook), class: "btn btn-small"
            = link_to 'Remove', admin_hook_path(hook), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-remove btn-small"
