.jumbotron
  %h2
    GitLab
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
  %p.slead
    GitLab is open source software to collaborate on code.
    %br
    Manage git repositories with fine grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.
    %br
    Read more about GitLab at #{link_to "www.gitlab.com", "https://www.gitlab.com/", target: "_blank"}.

.row
  .col-md-4
    .ui-box
      .title
        Quick help
      %ul.well-list
        %li
          See our website for
          = link_to "getting help", "https://www.gitlab.com/getting-help/"
        %li
          Use the
          = link_to "search bar", '#', onclick: "$('#search').focus();"
          on the top of this page
        %li
          Use
          = link_to "shortcuts", '#', onclick: "new Shortcuts()"

  .col-md-8
    .ui-box.documentation
      .title Documentation

      = preserve do
        - readme_text = File.read(Rails.root.join("doc", "README.md"))
        - text = readme_text.dup
        - readme_text.scan(/\]\(([^(]+)\)/) { |match| text.gsub!(match.first, "help/#{match.first}") }
        = markdown text
